.navbar-container{
    width: 100%;
    height: 4rem;
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    background-color: #FFFFFF;
}

.home-icon{
    display: flex;
    flex-direction: column;

    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.home-icon img{
    margin-bottom: 0.5rem;
}

.library-icon{
    display: flex;
    flex-direction: column;

    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.library-icon img{
    margin-bottom: 0.5rem;
}

.profile-icon{
    display: flex;
    flex-direction: column;

    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.profile-icon img{
    margin-bottom: 0.5rem;
}