.detail-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.detail-book-cover {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-image: url("../../assets/book-detail-background.png");
  background-position: top right;
  background-repeat: no-repeat;
  border-radius: 0 0 100px 0;
  background-color: #fff6e5;
}

.left-arrow {
  width: 100%;
  height: 2vh;
  display: flex;

  cursor: pointer;
  margin-left: 4rem;
  margin-top: 3.5rem;
}

.detail-book-img {
  width: 40%;

  margin-top: 2rem;
}

.detail-book-info{
    width: 100%;
    margin-left: 2rem;
    margin-top: 6rem;
}

.detail-title{

  margin-left: 0.5rem;
}

.detail-author{
  width: 100%;

  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  color: #FF6978;
}

.detail-description{
  width: 90%;
  font-size: 14px;

  margin-left: 0.5rem;
  margin-bottom: 8rem;
}

.navbar-detail{
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;

  justify-content: center;

  left: 0;
  bottom: 53px;

}

.navbar-detail-content{
  width: 90%;
  height: 4rem;

  display: flex;

  align-items: center;
  justify-content: space-evenly;


  background-color: #FFFFFF;
  box-shadow: 3px 3px 23px rgba(107, 103, 70, 0.125901);
}

.read-icon{
  display: flex;
}

.read-icon img{
  margin-right: 0.6rem;
}

.listen-icon{
  display: flex;
}

.listen-icon img{
  margin-right: 0.6rem;
}

.share-icon{
  display: flex;
}

.share-icon img{
  margin-right: 0.6rem;
}